doctype 5
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width")
        
    title The Dragon Bride - Dragons research

    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href='css/main.css')

  body
    #container
    
    script(type='text/javascript', src='js/vendors/jquery-1.10.2.min.js')
    script(type='text/javascript', src='js/vendors/requestAnimationFrame.js')
    script(type='text/javascript', src='js/vendors/Stats.js')
    script(type='text/javascript', src='js/vendors/three.min.js')
    script(type='text/javascript', src='js/vendors/TrackballControls.js')
    script(type='text/javascript', src='js/main.js')
