doctype 5
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="description", content="Conte dragon")
		meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width")
		title Conte Dragon
		link(rel='stylesheet', href='./css/reset.css')
		link(rel='stylesheet', href='./css/main.css')
	body
		#main

		script(src='./js/vendors/jquery-1.9.1.min.js')
		script(src='./js/vendors/dat.gui.min.js')
		script(src='./js/vendors/three.min.js')
		script(src='./js/vendors/signals.min.js')
		script(src='./js/vendors/requestAnimationFrame.js')
		script(src='./js/vendors/loaders/ColladaLoader.js')
		script(src='./js/vendors/loaders/OBJLoader.js')
		script(src='./js/vendors/stats.min.js')
		script(src='./js/vendors/greensock/TweenMax.min.js')
		script(src='./js/main.min.js')

		script
			document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')