@font-face {
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/cinzeldecorative-regular-webfont.eot");
  src: url("fonts/cinzeldecorative-regular-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/cinzeldecorative-regular-webfont.woff") format('woff'), url("fonts/cinzeldecorative-regular-webfont.ttf") format('truetype'), url("fonts/cinzeldecorative-regular-webfont.svg#cinzel_decorativeregular") format('svg');
}
@font-face {
  font-family: 'archiveregular';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/archive-webfont.eot");
  src: url("fonts/archive-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/archive-webfont.woff") format('woff'), url("fonts/archive-webfont.ttf") format('truetype'), url("fonts/archive-webfont.svg#archiveregular") format('svg');
}